# top-most EditorConfig file
root = true

[*]
# Section for all files matching the glob '*' (all files)
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
# Section for Markdown files, overrides global settings
trim_trailing_whitespace = false
