#mocha {
  --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font: normal normal 22px/1.25 var(--font-family);
}
#mocha h1 {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 8px;
}
#mocha-stats,
#mocha h2,
#mocha .test.fail::before,
#mocha .test.pass::before {
  font-size: 22px;
}